# APP_URL: The URL where this applet is hosted.
# AI Studio automatically injects this at runtime with the Cloud Run service URL.
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="MY_APP_URL"
GROQ_API_KEY=
SEARXNG_URL=https://lira-ai.onrender.com/
CRAWL4AI_URL=http://localhost:8000/scrape
VITE_APP_NAME="Atlus AI"
VITE_APP_DESCRIPTION="High-performance Semantic Research Engine"

# Firebase Configuration (Public)
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0782890468.firebasestorage.app
GROQ_API_KEY=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
VITE_FIREBASE_MESSAGING_SENDER_ID=182018825750
VITE_FIREBASE_API_KEY=AIzaSyASAiUn87J1wd2OZ8ITHUR3-WgPKaw__PI
VITE_FIREBASE_FIRESTORE_DATABASE_ID=ai-studio-4b10b4f1-c029-4364-91b1-b28ffc848b3f
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0782890468.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0782890468
VITE_FIREBASE_APP_ID=1:182018825750:web:311634ce97a69403f11f37
